html {
  background-color: aliceblue;
}

body {
  margin: 0;
}

nav {
  background-color: white;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
  margin: 20px 12px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  padding: 6px;
}

nav ul li a:hover {
  background-color: aliceblue;
}

section {
  margin: 20px;
}

form {
  background-color: white;
}

form input {
  width: 100%;
  margin-bottom: 16px;
}

form input[type="submit"] {
  margin: 0;
  background-color: green;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

/* tambahkan CSS untuk section profile disini */
section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
}

.profile-text {
  text-align: center;
}

.profile-text h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-text h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.action {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.action button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

#detail {
  margin-top: 30px;
}

#detail table {
  width: 100%;
  border-collapse: collapse;
}

#detail table th,
#detail table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#detail table th {
  font-weight: bold;
}

#detail table a {
  color: #4caf50;
  text-decoration: none;
}
