html {
  background-color: aliceblue;
}

body {
  margin: 0;
}

nav {
  background-color: white;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
  margin: 20px 12px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  padding: 6px;
}

nav ul li a:hover {
  background-color: aliceblue;
}

section {
  margin: 20px;
}

form {
  background-color: white;
}

form input {
  width: 100%;
  margin-bottom: 16px;
}

form input[type="submit"] {
  margin: 0;
  background-color: green;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

/* tambahkan CSS untuk section profile disini */
section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

#profile {
  display: flex;
  flex-wrap: wrap;
}

.profile-photo {
  flex: 0 0 150px;
  text-align: center;
  margin-bottom: 0;
}

.profile-photo img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 1px solid orangered;
}

.profile-text {
  padding: 0 10px;
  margin-left: 20px;
}

.profile-text h1 {
  font-size: 24px;
  margin-bottom: 4px;
}

.profile-text h2 {
  font-size: 16px;
  margin-bottom: 15px;
}

.action {
  height: 30px;
  display: flex;
  margin-top: 10px;
}

.kontak {
  background-color: blue;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 5px;
  text-decoration: none;
}

.kontak:hover {
  background-color: darkblue;
}

.resume {
  background-color: transparent;
  color: green;
  padding: 5px 10px;
  border: 1px solid green;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.resume:hover {
  background-color: green;
  color: white;
}

#detail {
  flex: 1;
  margin-left: 20px;
  margin-top: 10px;
}

#detail table {
  border-collapse: collapse;
}

#detail table td {
  padding: 5px;
}
