h1 {
  text-align: center;
}

/* MARGIN */
.box {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  margin: 20px;
}

.box-dua {
  width: 200px;
  height: 200px;
  background-color: lightgreen;
  margin: 70px;
}

/*PADDING*/

.box-tiga {
  background: greenyellow;
  height: 200px;
  width: 300px;
  padding: 20px;
}

.box-empat {
  background: navy;
  height: 100px;
  width: 600px;
  padding-left: 70px;
}
